In [112]:
import pandas as pd 
import requests

In [113]:
def json_to_df(response):
    """
    convert response to dataframe
    """
    
    return pd.DataFrame(response.json()[1:], columns = response.json()[0])


def df_to_csv(df):
    """
    convert df to csv file
    """
    pass 

census_api_key = "2bdd0ae628fa3f0bacc71a11c1af43240f11a8f1"

# Population Data API links for 2019-2015


https://api.census.gov/data/2019/pep/population/examples.html
https://api.census.gov/data/2019/pep/population/examples.html
https://api.census.gov/data/2018/pep/population/examples.html
https://api.census.gov/data/2017/pep/population/examples.html
https://api.census.gov/data/2016/pep/population/examples.html
https://api.census.gov/data/2015/pep/population/examples.html

base API I started with
https://api.census.gov/data/2019/pep/charagegroups?get=NAME,POP&for=county:*&in=state:*&key=YOUR_KEY_GOES_HERE

overview of variables
https://api.census.gov/data/2019/pep/charagegroups/variables.html

description of values in each column
https://www.census.gov/data/developers/data-sets/popest-popproj/popest/popest-vars.html

examples of api calls 
https://api.census.gov/data/2019/pep/charagegroups/examples.html

## Population by race 2019-2015 NC per county

In [50]:
url = f"https://api.census.gov/data/2019/pep/charagegroups?get=NAME,POP,RACE&AGEGROUP=5,6,7,8,9,10,11,12,13&DATE_CODE=8,9,10,11,12&DATE_DESC&for=county:*&in=state:37&key={census_api_key}"
response = requests.request("GET", url)

In [51]:
df_race = json_to_df(response)

In [174]:
df_race

,NAME,POP,RACE,AGEGROUP,DATE_CODE,DATE_DESC,state,county
0,"Greene County, North Carolina",1317,0,5,8,7/1/2015 population estimate,37,079
1,"Greene County, North Carolina",693,1,5,8,7/1/2015 population estimate,37,079
2,"Greene County, North Carolina",548,2,5,8,7/1/2015 population estimate,37,079
3,"Greene County, North Carolina",39,3,5,8,7/1/2015 population estimate,37,079
4,"Greene County, North Carolina",8,4,5,8,7/1/2015 population estimate,37,079
...,...,...,...,...,...,...,...,...
53995,"Tyrrell County, North Carolina",162,7,13,12,7/1/2019 population estimate,37,177
53996,"Tyrrell County, North Carolina",117,8,13,12,7/1/2019 population estimate,37,177
53997,"Tyrrell County, North Carolina",2,9,13,12,7/1/2019 population estimate,37,177
53998,"Tyrrell County, North Carolina",10,10,13,12,7/1/2019 population estimate,37,177
53999,"Tyrrell County, North Carolina",0,11,13,12,7/1/2019 population estimate,37,177

## Total population for each state from 2015 and 2019

In [90]:
url = f"https://api.census.gov/data/2019/pep/charagegroups?get=NAME,POP&DATE_CODE=8&DATE_DESC&for=state:*&key={census_api_key}"
response = requests.request("GET", url)

In [95]:
# print(response, response.text)

In [96]:
df_pop_per_state_2015 = json_to_df(response)

In [97]:
df_pop_per_state_2015.head()

          NAME      POP DATE_CODE                     DATE_DESC state
0  Mississippi  2976149        12  7/1/2019 population estimate    28
1     Missouri  6137428        12  7/1/2019 population estimate    29
2      Montana  1068778        12  7/1/2019 population estimate    30
3     Nebraska  1934408        12  7/1/2019 population estimate    31
4       Nevada  3080156        12  7/1/2019 population estimate    32

In [98]:
url = f"https://api.census.gov/data/2019/pep/charagegroups?get=NAME,POP&DATE_CODE=12&DATE_DESC&for=state:*&key={census_api_key}"
response = requests.request("GET", url)

In [99]:
df_pop_per_state_2019 = json_to_df(response)

In [102]:
df_pop_per_state_2019.head()

          NAME      POP DATE_CODE                     DATE_DESC state
0  Mississippi  2976149        12  7/1/2019 population estimate    28
1     Missouri  6137428        12  7/1/2019 population estimate    29
2      Montana  1068778        12  7/1/2019 population estimate    30
3     Nebraska  1934408        12  7/1/2019 population estimate    31
4       Nevada  3080156        12  7/1/2019 population estimate    32

## Population for 2015 and 2019 per county per race

In [162]:
url = f"https://api.census.gov/data/2019/pep/charagegroups?get=NAME,POP,RACE&DATE_CODE=8&DATE_DESC&for=county:*&in=state:37&key={census_api_key}"
response = requests.request("GET", url)

In [163]:
df_pop_county_race_2015 = json_to_df(response)

In [164]:
df_pop_county_race_2015.head()

,NAME,POP,RACE,DATE_CODE,DATE_DESC,state,county
0,"Greene County, North Carolina",20950,0,8,7/1/2015 population estimate,37,079
1,"Greene County, North Carolina",12263,1,8,7/1/2015 population estimate,37,079
2,"Greene County, North Carolina",7814,2,8,7/1/2015 population estimate,37,079
3,"Greene County, North Carolina",470,3,8,7/1/2015 population estimate,37,079
4,"Greene County, North Carolina",106,4,8,7/1/2015 population estimate,37,079

In [165]:
url = f"https://api.census.gov/data/2019/pep/charagegroups?get=NAME,POP,RACE&DATE_CODE=12&DATE_DESC&for=county:*&in=state:37&key={census_api_key}"
response = requests.request("GET", url)

In [166]:
df_pop_county_race_2019 = json_to_df(response)

In [172]:
# df_pop_county_race_2019[df_pop_county_race_2019['NAME']=='Watauga County, North Carolina']
df_pop_county_race_2019.head()

,NAME,POP,RACE,DATE_CODE,DATE_DESC,state,county
0,"Greene County, North Carolina",21069,0,12,7/1/2019 population estimate,37,079
1,"Greene County, North Carolina",12378,1,12,7/1/2019 population estimate,37,079
2,"Greene County, North Carolina",7751,2,12,7/1/2019 population estimate,37,079
3,"Greene County, North Carolina",471,3,12,7/1/2019 population estimate,37,079
4,"Greene County, North Carolina",122,4,12,7/1/2019 population estimate,37,079

## Different Economical Regions in NC

In [173]:
# list of counties and codes

county_names = df_race['NAME'].unique().tolist()
county_code = df_race['county'].unique().tolist()

pd.DataFrame(zip(county_names, county_code), columns = ['county_names', 'county_code'])

                        county_names county_code
0      Greene County, North Carolina         079
1     Haywood County, North Carolina         087
2    Mitchell County, North Carolina         121
3      Chowan County, North Carolina         041
4   Alleghany County, North Carolina         005
..                               ...         ...
95   Scotland County, North Carolina         165
96    Watauga County, North Carolina         189
97    Halifax County, North Carolina         083
98   Alamance County, North Carolina         001
99    Tyrrell County, North Carolina         177

[100 rows x 2 columns]

### Inner banks 

greene,
wilson,
jones,
craven,
pamlico,
beaufort,
pitt,
edge-combe,
halifax,
martin,
bertie,
washington,
tyrrell,
hertford,
north-ampton,
gates,
chowan,
perquimans,
pasquotank,
carnden,



22 counties

### Outer banks 

Dare, hyde, currituck, carteret

4 counties

### Southeast

Columbus, Duplin, Onslow, Pender, brunswick, new hanover

6 counties

### Sandhills

Cumberland, Harnett, Hoke, Moore, Richmond,Scotland, rebeson, bladen, sampson

9 counties

### Triangle

Chatham,
Durham,
Franklin,
Granville,
Johnston,
Lee,
Person,
Wake,
Vance,
orange
warren,
nash

12 counties

### Piedmont triad

Guilford,
Forsyth,
Alamance,	
Davidson,
Randolph,
Rockingham,
Surry,
Stokes,	
Davie,
Yadkin,
caswell,
montgomery

12 counties

### Metrolina (Charlotte metropolitan area)

Mecklenburg,
Cabarrus,
Gaston,
Iredell,
Lincoln,
Rowan,
Anson,
Union,
Cleveland,
Stanly,
catawba,
alexander

12 counties

### Mountains

cherokee,
graham,
swain,
haywood,
jackson,
macon,
clay,
transylvania,
henderson,
buncombe,
madison,
yancey,
mcdowell,
rutherford,
polk,
burke,
avery,
mitchell,
watauga,
caldwell,
wilkes,
ashe,
alleghany


23 counties